.gamecontainer {
	background-color: #cccccc;
}

.gamerow {
	text-align: center;
	float: center;
}

.image-high:hover {
 border-radius: 55%;
 position:relative;
 top:0px;
 background:#FF2400;
 opacity:0.5;
}