h1{
	text-align: center;

}
body{
	background-color: orange;
}




.titleDiv{
	background-color: grey;
	border: solid black 10px;
	border-radius: 20px;
}






#navDiv{
	height: 35px;
	width: 200px;
	margin: 20px auto;
}

#squirrelpicOne{
	width: 250px;
	margin: auto;
	border: solid #11B827 5px;

}
#squirrelpicTwo{
	width: 300px;
	margin: auto;
	border: solid #11B827 5px;
}

#picDiv{
	background-color: black;
	border: solid #11B827 5px;
	padding: 5px;
}

#innerdiv{
	margin: auto;
	width: 600px;
}

p{
	text-align: center;
}
