body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 0px;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-decoration: none;
	font-style: none;
	font-family: arial;
	font-size: 12px;
	text-align: center;
}

h1 {
	text-align: center;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

.side_bar {
	margin-left: 8px;
}

.side_bar_img {
	border: solid black 3px;
}

.article_by {
	font-style: italic;
	font-size: 18px;
}

.article_title {
	color: #000;
	background-color: #fff;
	text-align: center;
	border: solid black 3px;
	line-height: 37px;
}

#nav_div {
	border-top: solid black 3px;
	background-color: #6340a4;
	text-align: center;
	font-size: 30px;
}

#nav_div a {
	text-decoration: none;
	color: #fff;
	display: block;
	border-bottom: solid black 3px;
}

#nav_div a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #6340a4;
}

#nav_div a:visited {
	text-decoration: none;
}
#nav_div div a div a {
	display: none;
	visibility: hidden;
}

.sub_nav {
	padding: 0;
	opacity: 0;
	display: none;
	visibility: hidden;
	position: absolute;
	background-color: #6340a4;
}

.sub_nav_trigger:hover .sub_nav {
	display: block;
	opacity: 1;
	visibility: visible;
}

.sub_nav_second {
	padding-top: 37px;
}

.sub_nav_third {
	padding-top: 74px;
}

.search_bar {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 70%;
	height: 25px;
	margin-top: 30px;
	margin-bottom: 6px;
}

.search_button {
	margin-top: 30px;
	width: 25%;
	line-height: 25px;
}