h1{
	text-align: center;
	background-color: #2F5F6A;
	font-size: 50px;
}

html{
	background-color: #9FB5BA;
}

body{
	background-color: #9FB5BA;
}

.pgName{
	background-color: #2F5F6A;
}

a{
	text-align: center;
	margin:auto;
	color: black;
	

}

.navButton{
	display:block;
	background-color: gray;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#navBar{
	background-color: white;
	border-radius: 3px;	
}

#navBar a{
	display:block;
}