.form-group {

}

#title {
	padding: 10px 0px;
	background: rgb(216,216,216);
	margin-bottom: 20px;
	margin-top: 10px;
}

#form_holder {
	padding: 0 40px;
	background-color: rgb(232,232,232);
	border-radius: 5px;
	
}

#result {
	color: black;
	font-size: 20px;
	text-align: center;
}

#navigationBar li a {
	text-decoration: none;
	display: block;
	background-color: #157098;
	width: 200px;
	text-align: center;
	border: solid black 2px;
	color: white;
}

#navigationBar {
margin: auto;
height: 46px;
width: 1000px;
margin-top: 35px;
}

#navigationBar li{
	display: inline;
	float: left;
	height: 50px;
}
body {
	background-color: #AA3939;
}


