html{
	background-color: #5AAFDD;
}
#header{
	text-align: center;
	border: solid #0A168B 10px;
	border-radius: 15px;
	background-color: #00DC66;
	margin-bottom: 10px;
}

#navBar ul{
	list-style: none;
	padding-left: 0px;
}

#navBar li{
	display: inline-table;
	width: 24.25%;
	box-sizing: border-box;
	text-align: center;
	border: solid #0A168B 2.5px;
	border-radius: 2px;
}

#navBar li:hover{
	background-color: #0B8DD3;
}

#navBar a{
	text-decoration: none;
	color: black;
	display: block;
}

.body{
	padding: 15px;
	border: solid #0A168B 5px;
	border-radius: 15px;
	background-color: #0B8DD3;
	margin-bottom: 15px; 
}
.body h2{
	text-align: center;
}
.body .journal{
	font: serif;
}

img{
	border: solid #0A168B 10px;
	height: auto;
	border-radius: 15px;
	width: 30%;
	vertical-align: top;
	
}

