body {
	text-decoration: none;
}

.wrapper {
	width: 260px;
	height: 230px;
	margin: auto;
	margin-bottom: 10px;
}

.card {
	height: 230px;
	border-radius: 10px;
}

.card:hover {
	background-color: #B5D0E5;
}

#cardRow {
	margin: auto;
	height: inherit;
	width: inherit;
}

h4 {
	text-align: center;
}
