body {
	text-decoration: none;
}

.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
}

.icBox {
	width: 100px;
	height: 100px;
	margin: auto;
}

.icBox i {
	font-size: inherit;
}

.wrapper {
	margin: auto;
	margin-bottom: 10px;
}

.card {
	height: 200px; /**This one height is necesary but chosen size not final**/
	border-radius: 10px;
}

.card:hover {
	background-color: #B5D0E5; /**May use JS to change to another preset for a dark theme**/
}

#cardRow {
	margin: auto;
	height: inherit;
	width: inherit;
}

h4 {
	text-align: center;
}
