body {
	text-decoration: none;
}

.jumbotron {
	padding-left: 20px;
	padding-right: 20px;
}

.icBox {
	width: inherit;
	height: inherit;
	padding: 10px;
	font-size: 5.5em;
	margin: auto;
}

.icBox i {
	font-size: inherit;
	display: inherit;
	text-align: center;
}

.wrapper {
	margin: auto;
	margin-bottom: 10px;
}

.card {
	height: 200px; /**This one height is necesary but chosen size not final**/
	border-radius: 10px;
}

.card:hover {
	background-color: #B5D0E5; /**May use JS to change to another preset for a dark theme**/
}

#cardRow {
	margin: auto;
	height: inherit;
	width: inherit;
}

h4 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	color: #343434;
}

a:hover {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}