.img-center {
	margin:0 auto;
}
#decidingRow{
	border-top: solid black 5px;
	border-bottom: solid black 5px;
}
#playerChoice{
	border: solid black 5px;
	border-radius: 2.5px;
	margin-right: 1px;
}
#computerChoice{
	border: solid black 5px;
	border-radius: 2.5px;
	margin-left: 1px;
}
#innerPlayerChoice{
	width: 399px;
	height: 260px;
}
#innerComputerChoice{
	width: 399px;
	height: 260px;
}
