.img-center {
	margin:0 auto;
}
#decidingRow{
	border: solid grey 5px;
	border-radius: 10px;
	background-color: grey;
	margin: 5px;
}
#playerChoice{
	border: solid grey 5px;
	border-radius: 10px;
	background-color: grey;
	margin: 5px;
}
#computerChoice{
	border: solid grey 5px;
	border-radius: 10px;
	background-color: grey;
	margin: 5px;
}
#innerPlayerChoice{
	width: 399px;
	height: 260px;
}
#innerComputerChoice{
	width: 399px;
	height: 260px;
}
