html {
  position: relative;
}

body {
  background-color: #E0E4CC;
}

/*** home ***/

#opening {
    font-family: "Arial Black", Gadget, sans-serif;
}

#me {
  margin-top: 15px;
}

/***** RPS ********/

#rpsTitle {
  font-family: "Arial Black", Gadget, sans-serif;
}

#menu {
  margin: 10%;
}

#score {
  background-color: #F38630;
  border: outset 3px;
  border-radius: 10px;
  border-color: #FA6900;
}

#rpsContainer {
  background-color: #A7DBD8;
  border-color: #69D2E7;
  border: 3px;
  border-radius: 10px;
}

.picBox:hover {
  background-color: yellow;
  border-radius: 10px;
}

.choices > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#butBox {
  background-color: #F38630;
  border: outset 3px;
  border-radius: 10px;
  border-color: #FA6900;
}

#buttons img {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10vh;
}

#buttons {
  padding-top: 30px;
  padding-bottom: 50px;
}


/******** Journal *********/

.week {
  border: outset 3px;
  border-radius: 10px;
  border-color: #69D2E7;
  padding: 5px;
  margin: 10px;
  background-color: #A7DBD8;
}

.week > h3 {
  font-family: "Arial Black", Gadget, sans-serif;
}

.week:hover {
  background-color: #69D2E7;
  border-color: #A7DBD8;
}


.entry {
    border: solid 1px;
    border-color: #FA6900;
    height: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #F38630;
}

.entry:hover {
  background-color: #FA6900;
  border-color: #F38630;
}


/****** nav ******/

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;


/***** banner *****/
}
#banner {
  background-color: black;
  width: 100%;
}

#banner > * {
  color: white;
}

#bannerWriting {
  margin-left: 10px;
}

#banner h1 {
  margin-bottom: 0px;
  font-family: Impact, Charcoal, sans-serif;
}

#banner h2 {
  margin-top: 0px;
  margin-left: 20px;
  font-family: "courier-new", monospace;
}
